<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.airquality.dao.AirQualityIndexMapper">
    <resultMap id="BaseResultMap" type="com.bdqn.airquality.entity.AirQualityIndex">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="district_id" jdbcType="INTEGER" property="districtId"/>
        <result column="monitor_time" jdbcType="DATE" property="monitorTime"/>
        <result column="pm10" jdbcType="INTEGER" property="pm10"/>
        <result column="pm25" jdbcType="INTEGER" property="pm25"/>
        <result column="monitoring_station" jdbcType="VARCHAR" property="monitoringStation"/>
        <result column="last_modify_time" jdbcType="DATE" property="lastModifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, district_id, monitor_time, pm10, pm25, monitoring_station, last_modify_time
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from air_quality_index
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bdqn.airquality.entity.AirQualityIndex"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into air_quality_index (district_id, monitor_time, pm10,
        pm25, monitoring_station, last_modify_time
        )
        values (#{districtId,jdbcType=INTEGER}, #{monitorTime,jdbcType=DATE}, #{pm10,jdbcType=INTEGER},
        #{pm25,jdbcType=INTEGER}, #{monitoringStation,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=DATE}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.bdqn.airquality.entity.AirQualityIndex" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into air_quality_index
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="districtId != null">
                district_id,
            </if>
            <if test="monitorTime != null">
                monitor_time,
            </if>
            <if test="pm10 != null">
                pm10,
            </if>
            <if test="pm25 != null">
                pm25,
            </if>
            <if test="monitoringStation != null">
                monitoring_station,
            </if>
            <if test="lastModifyTime != null">
                last_modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="districtId != null">
                #{districtId,jdbcType=INTEGER},
            </if>
            <if test="monitorTime != null">
                #{monitorTime,jdbcType=DATE},
            </if>
            <if test="pm10 != null">
                #{pm10,jdbcType=INTEGER},
            </if>
            <if test="pm25 != null">
                #{pm25,jdbcType=INTEGER},
            </if>
            <if test="monitoringStation != null">
                #{monitoringStation,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyTime != null">
                #{lastModifyTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.airquality.entity.AirQualityIndex">
        <!--@mbg.generated-->
        update air_quality_index
        <set>
            <if test="districtId != null">
                district_id = #{districtId,jdbcType=INTEGER},
            </if>
            <if test="monitorTime != null">
                monitor_time = #{monitorTime,jdbcType=DATE},
            </if>
            <if test="pm10 != null">
                pm10 = #{pm10,jdbcType=INTEGER},
            </if>
            <if test="pm25 != null">
                pm25 = #{pm25,jdbcType=INTEGER},
            </if>
            <if test="monitoringStation != null">
                monitoring_station = #{monitoringStation,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyTime != null">
                last_modify_time = #{lastModifyTime,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bdqn.airquality.entity.AirQualityIndex">
        <!--@mbg.generated-->
        update air_quality_index
        set district_id = #{districtId,jdbcType=INTEGER},
        monitor_time = #{monitorTime,jdbcType=DATE},
        pm10 = #{pm10,jdbcType=INTEGER},
        pm25 = #{pm25,jdbcType=INTEGER},
        monitoring_station = #{monitoringStation,jdbcType=VARCHAR},
        last_modify_time = #{lastModifyTime,jdbcType=DATE}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <resultMap id="io" type="com.bdqn.airquality.entity.AirDistrict" extends="BaseResultMap">
        <result column="name" property="name"></result>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="int"
            resultMap="io">
        <!--@mbg.generated-->
        select *
        from air_quality_index as a join district as d on a.district_id=d.id
        where 1=1
        <if test="districtId != '' and districtId != null">
            and a.district_id = #{districtId,jdbcType=INTEGER}
        </if>
        order by a.id
    </select>
    <select id="selAirQualityIndex" resultMap="BaseResultMap">
        select *
        from air_quality_index
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>